<section id="left-menu">
		<div class="account-dropdown">
			<div class="logo">
				<i class="fab fas fa-handshake"></i>
			</div>
			<div class="name">
				<%= user.local.nickname %>
			</div>
			<div class="icon">
				<i class="fas fa-chevron-down"></i>
			</div>
		</div>
		<div class="groups">
			<div class="group">
				<div class="title"></div>
				<ul>
					<li>link</li>
					<li>link</li>
					<li><a href="/logout">Salir</a></li>
				</ul>
			</div>
		</div>
	</section>