<section class="compose-section">
	<textarea name="post_text" rows="8" cols="80" placeholder="Escribe algo..."></textarea>
		<div class="user-img"></div>
			<div class="buttons">
				<div class="button photo-btn">
				<i class="fas fa-camera-retro"></i>
				</div>
				<div class="button video-btn">
					<i class="fas fa-video"></i>
				</div>
				<div class="button send-btn">
					<a href="/newpost"><i class="fas fa-paper-plane"></i></a>
				</div>
			</div>	
</section>