<div class="update-container">
	<div class="author-info">
		<a class="user-img"></a>
		<div class="info">
			<a href="">James Doe</a> shared a <a href="">story</a>
		</div>
	</div>
	<div class="media">
		<div class="image" style="background: url('http://www.fullhdwpp.com/wp-content/uploads/city-night-lights-3_www.FullHDWpp.com_.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;">							
		</div>
	</div>
	<div class="padding-container">
		<div class="grey-container">
			<div class="update-info">
				<h3>Viajando por el mundo</h3>
				<p>
					Estoy viajando por el mundo, se que
					a nadie le importa, pero tengo que
					rellenar espacio para ver si las
					publicaciones funcionan :v.
				</p>
			</div>
			<div class="update-stats">
				<div class="icon-section">
					<div class="like-circle">
						<i class="fas fa-thumbs-up"></i>
					</div>
				</div>
				<div class="other-users">Sarah Russel and 23 others liked update</div>
				<div class="comments-stats">
					4 comments
				</div>
			</div>
			<div class="compose-comment">
				<textarea name="" cols="40" rows="10" placeholder=""></textarea>
				<div class="buttons">
					<div class="repost-btn">
						<i class="fas fa-redo"></i>
					</div>
					<div class="like-btn">
						<i class="fas fa-thumbs-up"></i>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>