<!DOCTYPE html>
<html>
<head>
	<% include partials/home_head %>
</head>
<body class="home_body">
	<header>
		<div class="contenedor">
			<h1>SocialNetwork</h1>
			<input type="checkbox" id="menu-bar">
			<label class="icon-menu" for="menu-bar"></label>
			<nav class="menu">
				<a href="/login">Ingresar</a>
				<a href="/signup">Registrarse</a>
				<a href="/info">Información</a>
				<a href="/contact">Contacto</a>		
			</nav>
		</div>
	</header>
	<div class="home_info">
		<h2>La mejor red social</h2>
		<p>
			hecha para los amantes
			de las series.
		</p>
		<a href="#" class="btn btn-dark mx-auto">Conoce mas</a>
	</div>
	<img src="img/breaking.gif">
</body>
</html>