<!DOCTYPE html>
<html lang="en">
	<% include partials/dashboard/dash_head %>
<body>
<div class="app-container">
	<% include partials/dashboard/dash_left %>
	<section id="content-container">
		<% include partials/dashboard/dash_header_search %>
		<div class="content-area">
			<% include partials/dashboard/dash_compose %>
			<section id="updates">
				<% include partials/dashboard/publication %>
			</section>
		</div>
	</section>

	<section id="messenger">
		
	</section>
</div>
</body>
</html>
