<div class="slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="img/breakingbad-1.jpg" alt="">
				<section class="flex-caption">
					<p>LOREM IPSUM 1</p>
				</section>
			</li>
			<li>
				<img src="img/stranger-1.jpg" alt="">
				<section class="flex-caption">
					<p>LOREM IPSUM 2</p>
				</section>
			</li>
			<li>
				<img src="img/vikings-1.jpg" alt="">
				<section class="flex-caption">
					<p>LOREM IPSUM 3</p>
				</section>
			</li>
		</ul>
	</div>
</div>

	
